@{
    ViewData["Title"] = "Home";
}

<!-- Filter Panel -->
@Html.Partial("~/Views/Shared/Carousel/_HomeCarousel.cshtml")

<!-- Search Bar Section -->
<div class="container my-4">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search books..." aria-label="Search books">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterPanel" aria-controls="filterPanel">
            <i class="bi bi-funnel"></i> Filter
        </button>
    </div>
</div>

<!-- Filter Panel -->
@Html.Partial("~/Views/Shared/Panels/Common/_FilterPanel.cshtml")

<!-- Product Panel -->
@Html.Partial("~/Views/Shared/Panels/Common/_ProductPanel.cshtml")

@Html.Partial("~/Views/Shared/Panels/Common/_Similar_products.cshtml")