@{
    ViewData["Title"] = "Home";
}

<!-- Filter Panel -->
@Html.Partial("~/Views/Shared/Carousel/_HomeCarousel.cshtml")

<!-- Search Bar Section -->
<div class="mb-3">
    <form id="searchForm" class="input-group">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterPanel" aria-controls="filterPanel">
            <i class="bi bi-funnel"></i> Filters
        </button>
    </form>
</div>



<!-- Filter Panel -->
@Html.Partial("~/Views/Shared/Panels/Common/_FilterPanel.cshtml")

<!-- Product Panel -->
@Html.Partial("~/Views/Shared/Panels/Common/_ProductPanel.cshtml")

@Html.Partial("~/Views/Shared/Panels/Common/_Similar_products.cshtml")